@font-face {
    font-family: 'Aurora';
    src: url('fonts/Aurora.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rulingpen';
    src: url('fonts/Rulingpen.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* NAVIGATION BAR */
.navbar-nav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.navbar-nav .nav-item {
    flex: 1;
    text-align: center;
    font-size: 1.2rem;
    text-decoration: none;
}

.navbar-nav .nav-link {
    padding: 10px 0;
    font-family: 'Aurora', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #000000 !important;
    font-size: 16px;
}

.d-flex {
    margin-right: 3rem;
}
.navbar-brand {
    font-family: 'Aurora';
    font-size: 2rem !important;
}

#cart-count {
    padding-right: 3rem;
}

.account-page-icon {
    padding-right: 1rem;
}

/* CAROUSEL BANNER */
#banner-carousel {
    width: 100%;
    overflow: hidden;
}

.carousel-inner {
    width: 100%;
    height: auto;
}

.carousel-item img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.carousel-control-prev {
    margin-left: -80px;
}

.carousel-control-next {
    margin-right: -80px;
}

/* BODY */

body,
p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
}

/* NEW ARRIVALS */
#new-arrivals-header,
#category-header {
    font-family: 'Aurora', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 28px !important;
    margin-left: 25px;
    padding-top: 50px;
    margin-top: 2rem;
    overflow: hidden;
}

.product-item,
.bestseller-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1px;
    text-align: center;
    object-fit: contain;
    overflow: hidden;
    justify-content: flex-end;
}

#product-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 2rem;
    margin-top: -1rem;
    text-align: center;
    align-items: center;
    height: 100%;
    gap: 10px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.product-item img,
.bestseller-product img,
#bestseller-list img,
#product-list img,
#foundation-list img,
#mascara-list img {
    width: 100%;
    height: 18rem;
    object-fit: cover;
    display: block;
}

.card {
    width: 18rem;
    height: 30rem;
    overflow: hidden;
    object-fit: cover;
    display: flex;
    flex-direction: column;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0;
    text-align: center;
}

.card-title {
    font-size: 1.2rem;
}

.card-text {
    font-size: 1rem;
    width: 200px;
    text-align: center;
}

.card-body p {
    margin: 0;
}

.product-item button {
    padding: 3px 20px;
    background-color: #ebdae7;
    color: rgb(0, 0, 0);
    border-radius: 3px;
    border: 1px solid #000000;
    box-shadow: none;
    font-size: 16px;
    text-align: center;
    display: inline-block;

    box-sizing: border-box;
    margin-top: auto;
}

.product-item button:hover {
    background-color: #dfbad7cc;
    border: 1px solid #fcf5f3;
    color: black;
}

/* FOUNDATION FINDER */

.foundation-finder {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    background-color: #efd7ea3a;
    justify-content: flex-start;
    align-items: center;
}

.image-container {
    position: relative;
    height: 400px;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.finder-header {
    position: relative;
    font-size: 2rem;
    text-align: center;
    font-family: 'Aurora';
    overflow: hidden;
}

.finder-text {
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translateY(-50%);
    text-align: left;
    padding: 3rem;
    z-index: 5;
    max-width: 40%;
    font-size: 1.3rem;
    text-align: center;
}

.match-button {
    position: absolute;
    top: 65%;
    right: 23%;
    padding: 5px 20px;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    border: 1px solid black;
    border-radius: 3px;
    background-color: #ffffff;
    z-index: 10;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 3rem;
}

.match-button:hover {
    background-color: #ebdae7;
    border: 2px solid black;
}

/* BESTSELLERS */
.bestseller-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: -1rem;
    text-align: center;
    align-items: center;
    height: 100%;
    padding-right: 2rem;
    gap: 10px;
}

.bestseller-header {
    font-family: 'Aurora';
    font-size: 28px !important;
    margin-left: 25px;
    padding-top: 50px;
    margin-top: 2rem;
    overflow: hidden;
}

.product-item img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

/* SHOP BY CATEGORY */

.category-layout {
    background-color: #efd7ea3a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    margin-top: 4rem;
}

/* Left Image*/
.image-left {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-left img {
    border-radius: 10px;
    object-fit: cover;
}

.category-text {
    font-family: 'Rulingpen', Arial, Helvetica, sans-serif;
    display: flex;
    font-size: 2.5rem;
    margin-left: 80px;
    color: rgb(111, 14, 48);
}

/* Right Images Container */
.image-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    flex: 1;
}

/* Top right image */
.right-top img {
    border-radius: 10px;
}

/* Bottom right image */
.right-bottom img {
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.image-left img:hover,
.right-top img:hover,
.right-bottom img:hover {
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;
}

/* FOOTER */
.footer {
    list-style-type: none;
    margin-top: 5rem;
    color: black;
    background-color: #f8f9fa;
    padding: 2rem 0;
}
.footer-content {
    list-style-type: none;
    align-items: center;
    font-size: 1rem;
    padding-left: 1rem;
}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    list-style-type: none;
    padding-left: 10rem;
}

.footer-content a {
    color: black;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
}

.footer-content a:hover {
    color: grey;
}

.footer ul {
    list-style-type: none;
}

/* BACK TO TOP BUTTON */
#my-Btn {
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: none;
    text-decoration: none;
    border: none;
    background-color: transparent;
}

/* CATEGORY PAGE */

#shop-by-category {
    display: flex;
    flex-direction: row;
    z-index: 99;
}

/* CATEGORY PAGE HEADERS */
.categorypage-header,
.register-header {
    font-family: 'Hey August', 'Aurora', Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 20px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.foundation-list,
.mascara-list,
.lipstick-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 10%;
    padding-left: 10px;
    padding-right: 10px;
    gap: 10px;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-top: -1rem;
    text-align: center;
    align-items: center;
    height: 100%;
}

/* Product page */

.product-content {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 5rem;
    flex-wrap: wrap;
    margin-left: -20rem;
}

#product-image img {
    max-width: 100%;
    width: 35rem;
    height: 35rem;
    margin-right: 3rem;
    object-fit: contain;
}

.product-content-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
}

.product-description {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.rating-content {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    width: 100%;
    box-sizing: border-box;
    padding: 0 15px;
}

#ratings-chart {
    max-width: 250px;
    height: 250px;
    margin-top: -3rem;
}

#product-description {
    font-size: 20px;
}

.reviews-header {
    font-family: 'RulingPen';
    font-size: 3rem;
    color: rgb(111, 14, 48);
    margin-left: 1rem;
    overflow: visible;
    margin-bottom: 3.7rem;
}

.buy-now {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 1.1rem;
    margin-top: 1rem;
    background-color: #e9c3e184;
    font-weight: bold;
    border: none;
    border-radius: 3px;
}

.buy-now:hover {
    background-color: #dfbad7;
}

/* RESPONSIVE */

@media (max-width: 768px) {
    .navbar-collapse {
        display: flex;
        flex-direction: row;
    }

    .navbar-collapse .account-page-icon img,
    .navbar-collapse .cart img {
        width: 30px;
        height: 30px;
    }

    /* BANNER */

    #banner-carousel {
        width: 100%;
        overflow: hidden;
    }

    .carousel-inner {
        width: 100%;
        height: auto;
    }

    .carousel-item img {
        width: 100%;
        height: 150px;
        object-fit: cover;
    }

    /* NEW ARRIVALS and BESTSELLER */
    #new-arrivals-header,
    #bestseller-product-container > h2 {
        font-size: 1.1rem !important;
        margin-bottom: 1rem;
        padding-top: 0;
    }

    .lipstick-list,
    .foundation-list,
    .mascara-list,
    #product-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 300px;
        height: 100%;
        margin: 0 auto;
    }

    .bestseller-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 300px;
        height: 100%;
        margin: 0 auto;
        padding: 0;
    }

    .product-item img,
    .bestseller-product img,
    #product-list img,
    #foundation-list img,
    #mascara-list img,
    #bestseller-product-container .product-item img {
        width: 100%;
        height: 9rem;
        object-fit: cover;
        display: block;
    }

    .card {
        width: 100%;
        max-width: 10rem;
        height: 15rem;
    }

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        text-align: center;
        overflow: visible;
    }

    .card-title {
        font-size: 0.7rem;
        overflow: visible;
        margin-bottom: 0;
    }

    .card-text,
    #product-list > div:nth-child(1) > a > div > div > p:nth-child(3) > b {
        font-size: 0.5rem;
        width: 90%;
        overflow: visible;
        margin-top: 0;
    }

    .product-item button {
        padding: 2px 9px;
        font-size: 9px;
        width: 90%;
    }

    /* FOUNDATION FINDER */

    .finder-header {
        position: relative;
        font-size: 1.1rem;
        text-align: center;
        font-family: 'Aurora';
        overflow: visible;
    }
    .foundation-finder {
        display: flex;
        flex-direction: column;
        height: 150px;
        margin-top: 1rem;
        background-color: #efd7ea3a;
        justify-content: flex-start;
        align-items: center;
    }
    .image-container {
        position: relative;
        height: 250px;
        width: 100%;
        object-fit: contain;
        margin-bottom: 0;
        display: flex;
        overflow: hidden;
        justify-content: flex-start;
    }
    .finder-text {
        display: none;
    }

    .match-button {
        position: absolute;
        width: 150px;
        padding: 0 0;
        top: 30px;
        left: 210px;
        z-index: 1;
        background-color: #ffffff97;
    }

    /* SHOP BY CATEGORY */
    #category-header {
        font-family: 'Hey August', 'Aurora', Arial, Helvetica, sans-serif;
        font-size: 1.2rem !important;
        font-weight: bold;
        color: #333;
        text-align: center;
        margin-bottom: 20px;
        width: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
        margin-top: -4rem;
    }

    .category-layout {
        background-color: #efd7ea3a;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 2rem;
        text-align: center;
    }

    .image-left img,
    .image-right img {
        border-radius: 10px;
        object-fit: cover;
        width: 230px;
        height: 200px;
    }

    .category-text {
        font-family: 'Rulingpen', Arial, Helvetica, sans-serif;
        display: flex;
        font-size: 1.5rem;
        margin-left: auto;
        margin-right: auto;
        color: rgb(111, 14, 48);
        overflow: visible;
    }

    /* FOOTER */
    .footer {
        font-size: 0.6rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: start;
        text-align: start;
        width: 100%;
    }

    .footer-links {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: start;
        text-align: start;
        margin: 0;
    }

    .footer h4 {
        font-size: 0.8rem;
    }

    .footer-content {
        margin-bottom: 1rem;
        font-size: 0.6rem;
        padding: 0;
    }

    /* CATEGORY PAGE */
    .categorypage-header,
    .register-header {
        font-family: 'Hey August', 'Aurora', Arial, Helvetica, sans-serif;
        font-size: 1.3rem;
        font-weight: bold;
        color: #333;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 20px;
        width: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
    }
}

/* Validerad 15/11-2024 */
